.rolldice {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttn {
  align-self: center;
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background: black;
}
.buttn:hover {
  background: darkslateblue;
  cursor: pointer;
}
